/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/

@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #eee;
}


$ratio: 11/17;

.poster {
	position: absolute;
	height: 90vh;
	width: 90vh * $ratio;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	overflow: hidden;

	background-color: rgb(0, 70, 200);
	box-shadow: 0 20px 30px rgba(0,0,0,0.3);


	h1 {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 38vh;
		color: white;
		font-weight: 900;
		transform: translate(-10vh, 50vh) rotate(-63deg);
		letter-spacing: -1vh;

		animation-name: hello-grow;
		animation-duration: 10s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}

	.box {
		position: absolute;
		width: 2vh;
		height: 2vh;
		background-color: white;
		right: 2vh;
		top: 2vh;

		animation-name: box-grow;
		animation-duration: 10s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}
}


@keyframes hello-grow {
	0%, 30%, 100% {
		font-size: 15vh;
		transform: translate(0vh, 60vh) rotate(0deg);
	}
	35%, 95% {
		font-size: 41vh;
		transform: translate(-10vh, 50vh) rotate(-65deg);
	}
}
@keyframes box-grow {
	0%, 30%, 100% {
		width: 2vh;
		height: 2vh;
		right: 2vh;
		transform: rotate(0deg);
	}
	35%, 95% {
		width: 10vh;
		height: 10vh;
		right: 46vh;
		transform: rotate(90deg);
	}
}

/* 2. Content ================================= */
