@keyframes going-up{
	0% {top: 0%;}
	100%{ top:-20%;}
}

@keyframes left-to-right{
	0% {left: -2%;}
	100%{ left:0%;}
}

@keyframes orange-right-to-left{
	0% {top: 40%; left:0%;}
	50% {top: 35%; left:1%;}
	100% {top: 40%; left:0%;}
}

@keyframes cream-left-to-right{
	0% {top: 5%; left:-13%;}
	50% {top: -5%; left:-13%;}
	100% {top: 5%; left:-13%;}
}


@keyframes rotate-eyeA{
	0%{transform: rotate(0deg);}
	25%{transform: rotate(-90deg);}
	50%{transform: rotate(180deg);}
	100%{transform: rotate(0deg);}
}

@keyframes look-around-eyeB{
	0%{transform: rotate(15deg);}
	50%{transform: rotate(-85deg);}
	100%{transform: rotate(15deg);}
}

@keyframes look-around-eyeC{
	0%{transform: rotate(0deg);}
	25%{transform: rotate(-5deg);}
	50%{transform: rotate(52deg);}
	100%{transform: rotate(0deg);}
}

@keyframes rotate-eyeD{
	0%{transform: rotate(0deg);}
	25%{transform: rotate(-90deg);}
	50%{transform: rotate(180deg);}
	100%{transform: rotate(0deg);}
}

@keyframes look-around-eyeE{
	0%{transform: rotate(0deg);}
	25%{transform: rotate(-5deg);}
	50%{transform: rotate(52deg);}
	100%{transform: rotate(0deg);}
}

@keyframes look-around-eyeF{
	0%{transform: rotate(-15deg);}
	50%{transform: rotate(29deg);}
	100%{transform: rotate(-15deg);}
}


@keyframes look-around-eyeGpupil{
	0%{transform: rotate(-15deg) translateX(30%) translateY(40%) scale(.9);}
	25%{transform: rotate(-35deg) translateX(35%) translateY(45%) scale(1);}
	50%{transform: rotate(-45deg) translateX(45%) translateY(50%) scale(1.1);}
	75%{transform: rotate(-35deg) translateX(35%) translateY(45%) scale(1);}
	100%{transform: rotate(-15deg) translateX(30%) translateY(40%) scale(.9);}
}
