/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/

@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #eee;
}

// calculate the ratio of your poster and put it here
$ratio: 11/17;

.poster {
	position: absolute;
	height: 82.8vh;
	width: 58.5vh;
	top: 50%;
	left: 50%;
	// opacity: .5;
	transform: translate(-50%, -50%);

	overflow: hidden;

	background-color: #454454;
	box-shadow: 0 20px 30px rgba(0,0,0,0.3);

	// temporary background image just for help positioning during development
	background-image: url("../img/ogPoster.png");
	background-size: contain;

	// put all elements in the poster, like this, with % for sizing and positioning.
	
	
	.eyeA-top-left {
		width: 25.5%;
		position: absolute;
		top: 3%;
		left: 10%;
	}

	.eyeB-top-right {
		width: 8.5%;
		position: absolute;
		top: 18.5%;
		left: 66%;
	}

	.eyeC-middle-right {
		width: 25.2%;
		position: absolute;
		top: 37.5%;
		left: 68.9%;
	}

	.eyeD-middle-eye {
		width: 35.2%;
		position: absolute;
		top: 20%;
		left: 33%;
	}

	.eyeE-middle-left {
		width: 16%;
		position: absolute;
		top: 40.5%;
		left: 13%;
	}

	.eyeF-bottom-right {
		width: 13.5%;
		position: absolute;
		top: 75%;
		left: 81%;
	}

	.eyeG-bottom-left {
		width: 21.5%;
		position: absolute;
		top: 65%;
		left: 13%;
	}

}


