/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/

@import 'reset';
@import 'animations';



$posterFontreg: 'Nova Round', cursive;
$posterFontbold: 'Nova Mono', monospace;
$posterFontalt: 'Righteous', cursive;
$posterFontfun: 'Barrio', cursive;

$fontColor-orange: #c05337;
$posterColor-cream:#fff0ce;
$posterColor-blue:#92cfc5;




/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

img{
	position: absolute;
}

body {
	background: #eee;
}

// calculate the ratio of your poster and put it here
$ratio: 11/17;

.poster {
	position: absolute;
	height: 82.8vh;
	width: 58.5vh;
	top: 50%;
	left: 50%;
	// opacity: .5;
	transform: translate(-50%, -50%);

	overflow: hidden;

	background-color: $posterColor-cream;
	box-shadow: 0 20px 30px rgba(0,0,0,0.3);

	// temporary background image just for help positioning during development
	background-image: url("../img/tealBckgrnd@2x.png");
	background-size: 105.55%;
	background-position: 25% 90%;

	// 	left top
	// left center
	// left bottom
	// right top
	// right center
	// right bottom
	// center top
	// center center
	// center bottom

	// put all elements in the poster, like this, with % for sizing and positioning.
	
	.eye-images{

		.eyeA-top-left {
			width: 26.5%;
			top: 3%;
			left: 10.5%;
			transform-origin: center right;
			transform-origin:center;
			animation: rotate-eyeA 25s linear 0s infinite;
			
		}
	
		.eyeB-top-right {
			width: 8.5%;
			top: 18.5%;
			left: 66%;
			transform-origin: top left;
			animation: look-around-eyeB 15s ease-in-out 1s infinite;			

		}
		
		.eyeC-middle-right {
			width: 25.2%;
			top: 37.5%;
			left: 68.9%;
			transform-origin:center left;
			animation: look-around-eyeC 25s linear .5s infinite;		

		}
	
		.eyeD-middle-eye {
			width: 35.2%;
			top: 20%;
			left: 33%;
			transform-origin:center;
			animation: rotate-eyeD 25s linear 0s infinite;	
			
		}
	
		.eyeE-middle-left {
			width: 16%;
			top: 40.5%;
			left: 13%;
			transform-origin:top right;
			animation: look-around-eyeE 10s linear .5s infinite;
		}
	
	
		.eyeF-bottom-right {
			width: 13.5%;
			top: 75%;
			left: 81%;
			transform-origin:top center;
			animation: look-around-eyeF 10s linear .5s infinite;
		}
	
	
		.moving-pupil{
			position: absolute;
			top:65%;
			left:13%;
			
			.eyeG-iris{
				position: relative;
				top:10%;
				left:4%;
				transform: scale(.9);
				transform-origin:center;
				animation: rotate-eyeGiris 10s linear .5s infinite alternate-reverse;
			}
			.eyeG-pupil{
				position: relative;
				top:35%;
				left:-50%;
				transform-origin:center bottom;
				animation: look-around-eyeGpupil 20s linear .5s infinite;
			}

		}

	}
	
	.eye-hinges{

		.spokeA-eyeB-top-right{
			width:2.8%;
			top:15%;
			right:32%;
		}

		.spokeB-eyeC-middle-right{
			right:27%;
			top:35%;
			width:4.5%;
	
		}
	
		.spokeC-eyeE-middle-left{
			width:3.8%;
			top:35%;
			left:26.3%;		
		}

		.spokeD-eyeF-bottom-right{
			width:6.9%;
			bottom:23.5%;
			right:14%;
	
		}

	}

	.body-images{

		.orange-tongue{
			width:80%;
			top:8.7%;
			left:11%;
		}
	
		.navy-tie{
			width:39%;
			top:-1%;
			left:30%;
		}
	
	}

	.bkgrnd-stripes{
		.stripe-white-right{
			width:9%;
			right:27%;
			animation: going-up 10s infinite linear;
		}
		.stripe-white-left{
			width:100%;
			top:-5%;
			left:-10%;
			animation: cream-left-to-right 10s infinite ease-out; 
		}
		.stripe-orange-middle{
			width:100%;
			top:40%;
			animation: orange-right-to-left 5s infinite ease;

		}
		.stripe-black-top{
			width:100%;
			top:17%;
			animation: left-to-right 1s infinite linear;
		}
	}

	/// TEXT ///

	.poster-title{
		position: relative;
		top:82.2%;
		left:33.33%;
		
		
		font-family: $posterFontalt;
		
		.creator-credit{
			font-family: $posterFontreg;
			font-size:1.20rem;
		}
		.movie-title{
			font-size: 3.5rem;
			color:black;
		}
		.mt-shadow{
			position: absolute;
			top:20%;
			left:-1%;
			color:$fontColor-orange;
			border-bottom: 3px solid black;

		}
		
		.actor-credits{
			position: absolute;
			display: flex;
			left:-1.5%;
			font-family: $posterFontreg;
			font-size: .62rem;
			
			
			p{
				border-right:1px solid black;
				padding:3px;
				margin:1px;
			}

			.actor-RD{
				border-style:none;
			}
		}
	}
}




@keyframes rotate-eyeA{
	0%{transform: rotate(0deg);}
	25%{transform: rotate(-90deg);}
	50%{transform: rotate(180deg);}
	100%{transform: rotate(0deg);}
}

@keyframes look-around-eyeB{
	0%{transform: rotate(15deg);}
	50%{transform: rotate(-85deg);}
	100%{transform: rotate(15deg);}
}

@keyframes look-around-eyeC{
	0%{transform: rotate(0deg);}
	25%{transform: rotate(-5deg);}
	50%{transform: rotate(52deg);}
	100%{transform: rotate(0deg);}
}

@keyframes rotate-eyeD{
	0%{transform: rotate(0deg);}
	25%{transform: rotate(-90deg);}
	50%{transform: rotate(180deg);}
	100%{transform: rotate(0deg);}
}

@keyframes look-around-eyeE{
	0%{transform: rotate(0deg);}
	25%{transform: rotate(-5deg);}
	50%{transform: rotate(52deg);}
	100%{transform: rotate(0deg);}
}

@keyframes look-around-eyeF{
	0%{transform: rotate(-15deg);}
	50%{transform: rotate(29deg);}
	100%{transform: rotate(-15deg);}
}

@keyframes rotate-eyeGiris{
	0%{transform: rotate(20deg) translateX(5%) translateY(-4%) scale(.9);}
	50%{transform: rotate(120deg) translateX(15%) translateY(-45%) scale(1)}
	100%{transform: rotate(20deg) translateX(5%) translateY(-4%) scale(.9);}
}


// @keyframes look-around-eyeGpupil{
// 	0%{transform: rotate(5deg) translateX(10%) translateY(10%) scale(1);}
// 	25%{transform: rotate(25deg) translateX(15%) translateY(15%) scale(.9);}
// 	50%{transform: rotate(35deg) translateX(-15%) translateY(35%) scale(1.1);}
// 	75%{transform: rotate(25deg) translateX(15%) translateY(15%) scale(.9);}
// 	100%{transform: rotate(5deg) translateX(10%) translateY(10%) scale(1);}
// }
